*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*.xlsx#

comp/src/CMakeLists\.txt\.user

comp/build-test-Qt_5_7_0_gcc_64-Default/cmake_install\.cmake

comp/build-test-Qt_5_7_0_gcc_64-Default/

trash/

comp/build-test-Qt_5_7_0_gcc_64-Debug/

zsk19\.pdf
/zsk19.spl
